absl-py
aiohttp
aiosignal==1.3.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
async-timeout==3.0.1
attrs
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.4
brotlipy==0.7.0
cachetool
certifi
cffi
chardet
charset-normalizer
click==8.0.4
cloudpickle==2.2.0
cryptography
cycler==0.11.0
Cython
d2l==0.17.5
daal4py==2021.5.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dgl-cu111==0.6.1
distlib==0.3.6
entrypoints==0.4
executing==1.1.1
fastdtw==0.3.4
fastjsonschema==2.16.2
filelock==3.8.0
fonttools==4.37.1
frozenlist==1.3.3
future==0.18.2
gensim
google-auth
google-auth-oauthlib
grpcio
h5py==3.7.0
huggingface-hub==0.10.1
hyperopt==0.2.7
idna==2.10
importlib-metadata
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
joblib
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
Markdown
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mistune==2.0.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
msgpack==1.0.4
multidict
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.8
notebook==6.4.12
numpy==1.21.5
oauthlib
olefile
packaging==21.3
pandas==1.2.4
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow
platformdirs==2.5.3
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.20.1
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser
Pygments==2.13.0
PyJWT
pyOpenSSL
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.2.1
pyu2f
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.1
ray==2.1.0
regex==2022.10.31
requests==2.25.1
requests-oauthlib
rsa
scikit-learn
scikit-learn-intelex==2021.20220215.212715
scipy==1.9.1
seaborn==0.11.2
Send2Trash==1.8.0
six
sklearn==0.0.post1
smart-open
soupsieve==2.3.2.post1
stack-data==0.5.1
tabulate==0.9.0
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX==2.5.1
terminado==0.16.0
threadpoolctl
timm==0.6.11
tinycss2==1.1.1
tokenizers==0.13.1
torch==1.10.0
torch-geometric==2.1.0.post1
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-tb-profiler==0.4.0
torchaudio==0.10.0
torchvision==0.11.1
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
transformers==4.24.0
typing_extensions
urllib3
virtualenv==20.16.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug
widgetsnbextension==4.0.3

